<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CITVANCON</title>
    <link rel="icon" type="image/x-icon" href="img/logo.jpg" />
    <meta name="description" content="Somos un grupo empresarial que tiene como objetivo verificar el correcto funcionamiento de
    los principales dispositivos y sistemas del vehículo y así emitir el certificado de operatividad que circulan a nivel nacional
    y protección del medio ambiente. Contamos con planta propia con la más alta tecnología al servicio de la comunidad.">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <div class="top-bar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 col-md-12">
                    <div class="logo">
                        <a href="">
                            <img src="img/logo.jpeg" height="80" alt="Logo">
                        </a>
                    </div>
                </div>
                <div class="col-lg-9 col-md-7 d-none d-lg-block">
                    <div class="row">
                        <div class="col-lg-3">
                            <div class="top-bar-item">
                                <div class="top-bar-icon"><i class="far fa-clock"></i></div>
                                <div class="top-bar-text">
                                    <h3>Hora Apertura</h3>
                                    <p>Lun - Vie, 8:00 - 7:00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="top-bar-item">
                                <div class="top-bar-icon"><i class="fa fa-phone-alt"></i></div>
                                <div class="top-bar-text">
                                    <h3>Contactanos</h3>
                                    <p>+51 926 105 991</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3">
                            <div class="top-bar-item">
                                <div class="top-bar-icon"><i class="far fa-envelope"></i></div>
                                <div class="top-bar-text">
                                    <h3>Email</h3>
                                    <p>citvancon@gmail.com</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 text-right">
                            <a class="btn btn-custom" href="/login">Iniciar Sesión</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="nav-bar">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <a href="#" class="navbar-brand">MENU</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        <a href="index" class="nav-item nav-link active">Inicio</a>
                        <a href="about" class="nav-item nav-link">Nosotros</a>
                        <a href="service" class="nav-item nav-link">Tarifario</a>
                        <a href="contact" class="nav-item nav-link">Contactanos</a>
                        <a href="/login" class="nav-item nav-link d-lg-none" style="color: #e7770e;">Iniciar Sesión</a>
                    </div>
                    <div class="ml-auto d-none d-lg-block">
                        </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="carousel">
        <div class="container-fluid">
            <div class="owl-carousel">
                <div class="carousel-item">
                    <div class="carousel-img">
                        <img src="img/navbar1.jpeg" alt="Image">
                    </div>
                    <div class="carousel-text">
                        <h3>CENTRO DE INSPECCIÓN TÉCNICA VEHICULAR AUTORIZADO CON RESOLUCIÓN DIRECTORAL N° 287-2022-MTC/17.03</h3>
                        <h1>Por inaguracion 10% de descuento</h1>
                        <p>
                            Pasa tu revision en solo 30 minutos, contamos con 2 líneas. Unete al CITVAncon. Contamos con
                            sorteos, descuentos y promociones todo el año.
                        </p>
                        <a class="btn btn-custom" href="">Explorar Más</a>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-img">
                        <img src="img/navbar2.jpg" alt="Image">
                    </div>
                    <div class="carousel-text">
                        <h3>CENTRO DE INSPECCIÓN TÉCNICA VEHICULAR AUTORIZADO CON RESOLUCIÓN DIRECTORAL N° 287-2022-MTC/17.03</h3>
                        <h1>Revisiones Tecnicas del Perù</h1>
                        <p>
                            Grupo CITVAncon te ofrece los mejores precios del mercado y el mejor servicio de Revisiones
                            Técnicas
                            Vehiculares con Certificados Válidos a Nivel Nacional.
                        </p>
                        <a class="btn btn-custom" href="">Explorar Más</a>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div class="about" id="about">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="img/about2.jpg" alt="Image">
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="section-header text-left">
                        <p>Sobre Nosotros</p>
                        <h2>Revisiones Técnicas
                            CITVAncon</h2>
                    </div>
                    <div class="about-content">
                        <p>
                            Somos un grupo empresarial que tiene como objetivo verificar el correcto funcionamiento de
                            los
                            principales dispositivos y sistemas del vehículo y así emitir el certificado de operatividad
                            que
                            circulan a nivel nacional y protección del medio ambiente. Contamos con planta propia con la
                            más
                            alta tecnología al servicio de la comunidad.
                        </p>
                        <ul>
                            <li><i class="far fa-check-circle"></i>¡Calidad!</li>
                            <li><i class="far fa-check-circle"></i>¡Puntualidad!</li>
                            <li><i class="far fa-check-circle"></i>¡Responsabilidad!</li>
                        </ul>
                        <a class="btn btn-custom" href="">Leer Mas</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="about" id="">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="section-header text-left">
                        <p>Mision</p>
                    </div>
                    <div class="about-content">
                        <p>
                            En CITVAncon, nos comprometemos a garantizar que todos los vehículos que atendemos
                            cumplan con los más altos estándares de seguridad y rendimiento. Realizamos revisiones
                            técnicas exhaustivas con tecnología de punta y personal calificado, para asegurar la
                            operatividad y el respeto por el medio ambiente.
                        </p>
                    </div>
                    <div class="section-header text-left">
                        <p>Vision</p>
                    </div>
                    <div class="about-content">
                        <p>
                            Ser el taller líder en revisiones técnicas vehiculares, reconocido por nuestra innovación y
                            excelencia en el servicio. Aspiramos a expandir nuestras operaciones con prácticas
                            sostenibles, contribuyendo a un entorno más seguro y limpio.
                        </p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="img/revi.jpeg" alt="Image">
                    </div>
                </div>

            </div>
        </div>
    </div>

    <!--
    <div class="" id="">
        <div class="container">
            <div class="row justify-content-center">
                <div class="section-header text-left">
                    <p>Tarifas inspección técnica vehicular</p>
                </div>
                <div class="about-img">
                    <img src="img/tarifario.jpg" alt="Image">
                </div>
            </div>
        </div>
    </div>-->


    <!-- Service Start

    <div class="service">
        <div class="container">
            <div class="section-header text-center">
                <p>What We Do?</p>
                <h2>Premium Washing Services</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <i class="flaticon-car-wash-1"></i>
                        <h3>Exterior Washing</h3>
                        <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <i class="flaticon-car-wash"></i>
                        <h3>Interior Washing</h3>
                        <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <i class="flaticon-vacuum-cleaner"></i>
                        <h3>Vacuum Cleaning</h3>
                        <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <i class="flaticon-seat"></i>
                        <h3>Seats Washing</h3>
                        <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <i class="flaticon-car-service"></i>
                        <h3>Window Wiping</h3>
                        <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <i class="flaticon-car-service-2"></i>
                        <h3>Wet Cleaning</h3>
                        <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <i class="flaticon-car-wash"></i>
                        <h3>Oil Changing</h3>
                        <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="service-item">
                        <i class="flaticon-brush-1"></i>
                        <h3>Brake Reparing</h3>
                        <p>Lorem ipsum dolor sit amet elit. Phase nec preti facils ornare velit non metus tortor</p>
                    </div>
                </div>
            </div>
        </div>
    </div> -->




    <!-- Facts Start -->
    <div class="facts" data-parallax="scroll" data-image-src="img/facts.jpg" id="punts">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="facts-item">
                        <i class="fa fa-map-marker-alt"></i>
                        <div class="facts-text">
                            <h3 data-toggle="counter-up">25</h3>
                            <p>Puntos de Servicio</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="facts-item">
                        <i class="fa fa-user"></i>
                        <div class="facts-text">
                            <h3 data-toggle="counter-up">350</h3>
                            <p>Ingenieros y Trabajadores</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="facts-item">
                        <i class="fa fa-users"></i>
                        <div class="facts-text">
                            <h3 data-toggle="counter-up">1500</h3>
                            <p>Clientes felices</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="facts-item">
                        <i class="fa fa-check"></i>
                        <div class="facts-text">
                            <h3 data-toggle="counter-up">5000</h3>
                            <p>Proyectos completados</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Price Start
    <div class="price">
        <div class="container">
            <div class="section-header text-center">
                <p>Washing Plan</p>
                <h2>Choose Your Plan</h2>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="price-item">
                        <div class="price-header">
                            <h3>Basic Cleaning</h3>
                            <h2><span>$</span><strong>25</strong><span>.99</span></h2>
                        </div>
                        <div class="price-body">
                            <ul>
                                <li><i class="far fa-check-circle"></i>Seats Washing</li>
                                <li><i class="far fa-check-circle"></i>Vacuum Cleaning</li>
                                <li><i class="far fa-check-circle"></i>Exterior Cleaning</li>
                                <li><i class="far fa-times-circle"></i>Interior Wet Cleaning</li>
                                <li><i class="far fa-times-circle"></i>Window Wiping</li>
                            </ul>
                        </div>
                        <div class="price-footer">
                            <a class="btn btn-custom" href="">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="price-item featured-item">
                        <div class="price-header">
                            <h3>Premium Cleaning</h3>
                            <h2><span>$</span><strong>35</strong><span>.99</span></h2>
                        </div>
                        <div class="price-body">
                            <ul>
                                <li><i class="far fa-check-circle"></i>Seats Washing</li>
                                <li><i class="far fa-check-circle"></i>Vacuum Cleaning</li>
                                <li><i class="far fa-check-circle"></i>Exterior Cleaning</li>
                                <li><i class="far fa-check-circle"></i>Interior Wet Cleaning</li>
                                <li><i class="far fa-times-circle"></i>Window Wiping</li>
                            </ul>
                        </div>
                        <div class="price-footer">
                            <a class="btn btn-custom" href="">Book Now</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="price-item">
                        <div class="price-header">
                            <h3>Complex Cleaning</h3>
                            <h2><span>$</span><strong>49</strong><span>.99</span></h2>
                        </div>
                        <div class="price-body">
                            <ul>
                                <li><i class="far fa-check-circle"></i>Seats Washing</li>
                                <li><i class="far fa-check-circle"></i>Vacuum Cleaning</li>
                                <li><i class="far fa-check-circle"></i>Exterior Cleaning</li>
                                <li><i class="far fa-check-circle"></i>Interior Wet Cleaning</li>
                                <li><i class="far fa-check-circle"></i>Window Wiping</li>
                            </ul>
                        </div>
                        <div class="price-footer">
                            <a class="btn btn-custom" href="">Book Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <!-- Location Start
    <div class="location">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="section-header text-left">
                        <p>Washing Points</p>
                        <h2>Car Washing & Care Points</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="location-item">
                                <i class="fa fa-map-marker-alt"></i>
                                <div class="location-text">
                                    <h3>Car Washing Point</h3>
                                    <p>123 Street, New York, USA</p>
                                    <p><strong>Call:</strong>+012 345 6789</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="location-item">
                                <i class="fa fa-map-marker-alt"></i>
                                <div class="location-text">
                                    <h3>Car Washing Point</h3>
                                    <p>123 Street, New York, USA</p>
                                    <p><strong>Call:</strong>+012 345 6789</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="location-item">
                                <i class="fa fa-map-marker-alt"></i>
                                <div class="location-text">
                                    <h3>Car Washing Point</h3>
                                    <p>123 Street, New York, USA</p>
                                    <p><strong>Call:</strong>+012 345 6789</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="location-item">
                                <i class="fa fa-map-marker-alt"></i>
                                <div class="location-text">
                                    <h3>Car Washing Point</h3>
                                    <p>123 Street, New York, USA</p>
                                    <p><strong>Call:</strong>+012 345 6789</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5">
                    <div class="location-form">
                        <h3>Request for a car wash</h3>
                        <form>
                            <div class="control-group">
                                <input type="text" class="form-control" placeholder="Name" required="required" />
                            </div>
                            <div class="control-group">
                                <input type="email" class="form-control" placeholder="Email" required="required" />
                            </div>
                            <div class="control-group">
                                <textarea class="form-control" placeholder="Description" required="required"></textarea>
                            </div>
                            <div>
                                <button class="btn btn-custom" type="submit">Send Request</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <!-- Team Start
    <div class="team">
        <div class="container">
            <div class="section-header text-center">
                <p>Meet Our Team</p>
                <h2>Our Engineers & Workers</h2>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/team-1.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>Donald John</h2>
                            <p>Engineer</p>
                            <div class="team-social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/team-2.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>Adam Phillips</h2>
                            <p>Engineer</p>
                            <div class="team-social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/team-3.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>Thomas Olsen</h2>
                            <p>Worker</p>
                            <div class="team-social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-item">
                        <div class="team-img">
                            <img src="img/team-4.jpg" alt="Team Image">
                        </div>
                        <div class="team-text">
                            <h2>James Alien</h2>
                            <p>Worker</p>
                            <div class="team-social">
                                <a href=""><i class="fab fa-twitter"></i></a>
                                <a href=""><i class="fab fa-facebook-f"></i></a>
                                <a href=""><i class="fab fa-linkedin-in"></i></a>
                                <a href=""><i class="fab fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


    <!-- Testimonial Start -->
    <div class="testimonial" id="test">
        <div class="container">
            <div class="section-header text-center">
                <p>Testimonios</p>
                <h2>Nuestros Clientes</h2>
            </div>
            <div class="owl-carousel testimonials-carousel">
                <div class="testimonial-item">
                    <img src="img/test1.jpg" alt="Image">
                    <div class="testimonial-text">
                        <h3>Juan Pérez</h3>
                        <p>
                            La inspección técnica de mi auto fue rápida y eficiente. El personal fue muy profesional y
                            ahora me siento seguro en la carretera. ¡Altamente recomendado!
                        </p>
                    </div>
                </div>
                <div class="testimonial-item">
                    <img src="img/test2.jpg" alt="Image">
                    <div class="testimonial-text">
                        <h3>Pedro Juarez</h3>
                        <p>
                            Excelente servicio y atención. La revisión de mi camioneta fue completa y me dieron todas
                            las recomendaciones necesarias para mantenerla en buen estado.
                        </p>
                    </div>
                </div>
                <div class="testimonial-item">
                    <img src="img/test3.jpg" alt="Image">
                    <div class="testimonial-text">
                        <h3>Carlos Rivera</h3>
                        <p>
                            Quedé muy satisfecho con la inspección de mi taxi. El proceso fue claro y me explicaron cada
                            detalle. Sin duda, seguiré usando sus servicios.
                        </p>
                    </div>
                </div>
                <div class="testimonial-item">
                    <img src="img/test4.jpg" alt="Image">
                    <div class="testimonial-text">
                        <h3>Luis Quispe</h3>
                        <p>
                            La revisión técnica de mi moto fue impecable. El equipo fue muy amable y me dio confianza
                            para circular con tranquilidad. ¡Gracias por el excelente servicio
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Blog Start -->
    <div class="blog" id="noticias">
        <div class="container">
            <div class="section-header text-center">
                <p>Nuestro Blog</p>
                <h2>Últimas noticias y artículos</h2>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="img/not1.avif" alt="Image">
                            <div class="meta-date">
                                <span>24</span>
                                <strong>Agosto</strong>
                                <span>2021</span>
                            </div>
                        </div>
                        <div class="blog-text">
                            <h3><a href="#">MTC: ¿dónde y cómo realizar tu inspección técnica vehicular a nivel
                                    nacional?</a></h3>
                            <p>
                                Las unidades de transporte deben contar con un certificado de inspección técnica
                                vigente, que garantice el buen estado y seguridad del vehículo para circular por las
                                vías públicas. Este certificado lo puedes obtener en cualquier establecimiento oficial
                                autorizado por el Ministerio de Transporte y Comunicaciones (MTC).
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="img/not2.avif" alt="Image">
                            <div class="meta-date">
                                <span>19</span>
                                <strong>Diciembre</strong>
                                <span>2022</span>
                            </div>
                        </div>
                        <div class="blog-text">
                            <h3><a href="#">ATU anuncia revisiones técnicas para taxis autorizados a S/40: ¿cómo acceder
                                    a este beneficio?</a></h3>
                            <p>
                                La Autoridad de Transporte Urbano (ATU) anunció, en el marco de su campaña ¡Ponle
                                primera, taxista!, que en los locales de la compañía Farenet en Lima y Callao el costo
                                de la inspección técnica vehicular complementaria para brindar el servicio de taxi
                                tendrá un precio de solo S/40.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-item">
                        <div class="blog-img">
                            <img src="img/not3.avif" alt="Image">
                            <div class="meta-date">
                                <span>26</span>
                                <strong>Octubre</strong>
                                <span>2020</span>
                            </div>
                        </div>
                        <div class="blog-text">
                            <h3><a href="#">Revisiones técnicas: MTC aprueba al 90% pese a fallas mecánicas graves</a>
                            </h3>
                            <p>
                                Solo el 8% de vehículos en el Perú desaprueba la inspección técnica. Expertos lo
                                atribuyen a los flexibles criterios que el MTC les exige a las plantas de revisión. En
                                otros países con parque automotor más moderno esta cifra es del 30%.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-contact">
                        <h2>Contacto</h2>
                        <p><i class="fa fa-map-marker-alt"></i>Mz. 04 lote.04 – Autopista Panamericana Norte – Variante
                            – Asociación Popular la Variante de Ancón – Distrito de Ancón – Provincia de Lima –
                            Departamento de Lima</p>
                        <p><i class="fa fa-phone-alt"></i>+51 926 105 991</p>
                        <p><i class="fa fa-envelope"></i>citvancon@gmail.com</p>
                        <div class="footer-social">
                            <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn" href="https://www.facebook.com/Citvancon/photos?locale=es_LA"><i
                                    class="fab fa-facebook-f"></i></a>
                            <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <!--
                <div class="col-lg-3 col-md-6">
                    <div class="footer-link">
                        <h2>Popular Links</h2>
                        <a href="">About Us</a>
                        <a href="">Contact Us</a>
                        <a href="">Our Service</a>
                        <a href="">Service Points</a>
                        <a href="">Pricing Plan</a>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="footer-link">
                        <h2>Useful Links</h2>
                        <a href="">Terms of use</a>
                        <a href="">Privacy policy</a>
                        <a href="">Cookies</a>
                        <a href="">Help</a>
                        <a href="">FQAs</a>
                    </div>
                </div>-->
                <div class="col-lg-3 col-md-6">
                    <div class="footer-newsletter">
                        <h2>Boletin informativo</h2>
                        <form>
                            <input class="form-control" placeholder="Nombres Completos">
                            <input class="form-control" placeholder="Email">
                            <button class="btn btn-custom">Enviar</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="">
                        <img src="img/logo.jpeg" height="80" width="250">
                    </div>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <p>&copy; <a href="#"> CITVAncon Privacy Policy</a>, All Right Reserved. Designed By <a>CITVAncon</a></p>
        </div>
    </div>

    <!-- Back to top button
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    -->

    <!-- Icono flotante de WhatsApp -->
    <a class="whatsapp-float" href="https://wa.me/926105991" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-whatsapp" aria-hidden="true"></i>
    </a>

    <!-- Pre Loader -->
    <div id="loader" class="show">
        <div class="loader"></div>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>
