<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>CITVANCON</title>
    <link rel="icon" type="image/x-icon" href="img/logo.jpg" />
    <meta name="description" content="Somos un grupo empresarial que tiene como objetivo verificar el correcto funcionamiento de
    los principales dispositivos y sistemas del vehículo y así emitir el certificado de operatividad que circulan a nivel nacional
    y protección del medio ambiente. Contamos con planta propia con la más alta tecnología al servicio de la comunidad.">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="Free Website Template" name="keywords">
    <meta content="Free Website Template" name="description">

    <!-- Favicon -->
    <link href="img/favicon.ico" rel="icon">

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap"
        rel="stylesheet">

    <!-- CSS Libraries -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="lib/flaticon/font/flaticon.css" rel="stylesheet">
    <link href="lib/animate/animate.min.css" rel="stylesheet">
    <link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <!-- Top Bar Start -->
    <div class="top-bar">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-4 col-md-12">
                    <div class="logo">
                        <a href="index.html">
                            <!--<h1>Citv<span>Ancon</span></h1>-->
                            <img src="img/logo.jpeg" height="80">
                        </a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-7 d-none d-lg-block">
                    <div class="row">
                        <div class="col-4">
                            <div class="top-bar-item">
                                <div class="top-bar-icon">
                                    <i class="far fa-clock"></i>
                                </div>
                                <div class="top-bar-text">
                                    <h3>Hora Apertura</h3>
                                    <p>Lunes - Viernes, 8:00 - 7:00</p>
                                    <p>Sabados, 8:00 - 6:00</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="top-bar-item">
                                <div class="top-bar-icon">
                                    <i class="fa fa-phone-alt"></i>
                                </div>
                                <div class="top-bar-text">
                                    <h3>Contactanos</h3>
                                    <p>+51 926 105 991</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-4">
                            <div class="top-bar-item">
                                <div class="top-bar-icon">
                                    <i class="far fa-envelope"></i>
                                </div>
                                <div class="top-bar-text">
                                    <h3>Email</h3>
                                    <p>citvancon@gmail.com</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Top Bar End -->

    <!-- Nav Bar Start -->
    <div class="nav-bar">
        <div class="container">
            <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
                <a href="#" class="navbar-brand">MENU</a>
                <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-between" id="navbarCollapse">
                    <div class="navbar-nav mr-auto">
                        <a href="index" class="nav-item nav-link active">Inicio</a>
                        <a href="about" class="nav-item nav-link">Nosotros</a>
                        <a href="service" class="nav-item nav-link">Tarifario</a>
                        <!--<a href="#test" class="nav-item nav-link">Testimonios</a>
                            <a href="#noticias" class="nav-item nav-link">Noticias</a>

                                <a href="price.html" class="nav-item nav-link">Price</a>
                                <a href="location.html" class="nav-item nav-link">Washing Points</a>
                                <div class="nav-item dropdown">
                                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">Pages</a>
                                    <div class="dropdown-menu">
                                        <a href="blog.html" class="dropdown-item">Blog Grid</a>
                                        <a href="single.html" class="dropdown-item">Detail Page</a>
                                        <a href="team.html" class="dropdown-item">Team Member</a>
                                        <a href="booking.html" class="dropdown-item">Schedule Booking</a>
                                    </div>
                                </div>
                                -->
                        <a href="contact" class="nav-item nav-link">Contactanos</a>
                    </div>
                    <!--
                    <div class="ml-auto">
                        <a class="btn btn-custom" href="#">Conseguir Cita</a>
                    </div>
                    -->
                </div>
            </nav>
        </div>
    </div>
    <!-- Nav Bar End -->


    <!-- Page Header Start -->
    <div class="page-header">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h2>Tarifas</h2>
                </div>
            </div>
        </div>
    </div>

    <div class="">
        <div class="container">
            <div class="row ">
                <div class="col-lg-6">
                    <div class="about-img">
                        <img src="img/tarifario.jpg" alt="Image">
                    </div>
                </div>
                <!-- Acordeón de Tarifas -->
                <div class="col-lg-6">
                    <div class="section-header text-left">
                        <p>Tarifas inspección técnica vehicular</p>
                    </div>
                    <div class="about-content">
                        <p>
                            En nuestro taller de revisiones técnicas vehiculares, ofrecemos una variedad de servicios de
                            inspección adaptados a diferentes tipos de vehículos. A continuación, te presentamos un
                            resumen de nuestras tarifas para que puedas encontrar la que mejor se ajuste a tus
                            necesidades:
                        </p>
                    </div>
                    <div class="about-content" id="accordion">
                        <!-- Auto Particular / Camioneta SUV -->
                        <div class="card">
                            <div class="card-header" id="headingOne">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne"
                                        aria-expanded="true" aria-controls="collapseOne">
                                        Auto Particular / Camioneta SUV
                                    </button>
                                </h5>
                            </div>

                            <div id="collapseOne" class="collapse" aria-labelledby="headingOne"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>✔️ Tarjeta de Propiedad Actualizada</p>
                                    <p>✔️ SOAT vigente</p>
                                    <p>✔️ Certificado GNV o GLP (de ser el caso)</p>
                                    <p>✔️ Certificado GNV o GLP (de ser el caso)</p>
                                    <p>✔️ Permiso de lunas polarizadas (de ser el caso)</p>
                                    <p>✔️ Certificado de su revisión técnica vehicular anterior (de ser el caso)</p>
                                    <p>✔️ Accesorios:</p>
                                    <p>✔️ Triángulo o cono de seguridad</p>
                                    <p>✔️ Llave de rueda</p>
                                    <p>✔️ Gata mecánica</p>
                                    <p>✔️ Llanta de repuesto.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Taxi -->
                        <div class="card">
                            <div class="card-header" id="headingTwo">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        Taxi
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>✔️ Tarjeta de Propiedad Actualizada</p>
                                    <p>✔️ SOAT vigente</p>
                                    <p>✔️ Certificado de su revisión técnica anterior (de ser el caso)</p>
                                    <p>✔️ Certificado GNV o GLP (de ser el caso)</p>
                                    <p>✔️ Tarjeta de circulación</p>
                                    <p>✔️ Accesorios como: llanta de repuesto, gata, extintor, botiquín, casquete de
                                        taxi, láminas retroreflectivas, conos o triángulos de seguridad.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Camioneta Rural Pick Up -->
                        <div class="card">
                            <div class="card-header" id="headingThree">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="false"
                                        aria-controls="collapseThree">
                                        Camioneta Rural Pick Up
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>✔️ Tarjeta de Propiedad</p>
                                    <p>✔️ SOAT</p>
                                    <p>✔️ Certificado de su revisión técnica anterior (de ser el caso)</p>
                                    <p>✔️ Certificado GNV o GLP (de ser el caso)</p>
                                    <p>✔️ Permiso de lunas polarizadas (de ser el caso)</p>
                                    <p>✔️ Accesorios como: láminas o cintas retroreflectivas, extintor, botiquín, llanta
                                        de repuesto, gata, conos o triángulo de seguridad.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Bus Interprovincial -->
                        <div class="card">
                            <div class="card-header" id="headingFor">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseFor" aria-expanded="false" aria-controls="collapseFor">
                                        Bus Interprovincial
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFor" class="collapse" aria-labelledby="headingFor"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>✔️ Tarjeta de Propiedad</p>
                                    <p>✔️ SOAT</p>
                                    <p>✔️ Certificado de su revisión técnica anterior (de ser el caso)</p>
                                    <p>✔️ Tarjeta de circulación</p>
                                    <p>✔️ Certificado GNV o GLP (de ser el caso)</p>
                                    <p>✔️ Accesorios como: Láminas o cintas retrorreflectivas, extintor, botiquín,
                                        llanta de repuesto, gata, triángulo de seguridad.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Transporte Público -->
                        <div class="card">
                            <div class="card-header" id="headingFive">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        Transporte Público
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseFive" class="collapse" aria-labelledby="headingFive"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>✔️ Tarjeta de Propiedad</p>
                                    <p>✔️ SOAT</p>
                                    <p>✔️ Certificado de su revisión técnica anterior (de ser el caso)</p>
                                    <p>✔️ Certificado GNV o GLP (de ser el caso)</p>
                                    <p>✔️ Tarjeta de circulación</p>
                                    <p>✔️ Accesorios como: Láminas o cintas retrorreflectivas, extintor, botiquín,
                                        llanta de repuesto, gata, triángulo de seguridad.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Camión -->
                        <div class="card">
                            <div class="card-header" id="headingSix">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                                        Camión
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseSix" class="collapse" aria-labelledby="headingSix"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>✔️ Tarjeta de Propiedad</p>
                                    <p>✔️ SOAT</p>
                                    <p>✔️ Certificado de su revisión técnica anterior (de ser el caso)</p>
                                    <p>✔️ Certificado GNV o GLP (de ser el caso)</p>
                                    <p>✔️ Tarjeta de circulación</p>
                                    <p>✔️ Resolución (en caso, transporte mercancía peligrosa)</p>
                                    <p>✔️ Accesorios como: Láminas o cintas retrorreflectivas, extintor, botiquín,
                                        llanta de repuesto, gata, triángulo de seguridad.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Turismo / Movilidad Escolar / Transporte Personal - Público -->
                        <div class="card">
                            <div class="card-header" id="headingSeven">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseSeven" aria-expanded="false"
                                        aria-controls="collapseSeven">
                                        Turismo / Movilidad Escolar / Transporte Personal - Público
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>✔️ Tarjeta de Propiedad</p>
                                    <p>✔️ SOAT</p>
                                    <p>✔️ Certificado de su revisión técnica anterior (de ser el caso)</p>
                                    <p>✔️ Certificado GNV o GLP (de ser el caso)</p>
                                    <p>✔️ TUC (Tarjeta Única de Circulación)</p>
                                    <p>✔️ Accesorios como: Láminas o cintas retrorreflectivas, extintor, botiquín,
                                        llanta de repuesto, gata, triángulo de seguridad.</p>
                                    <p>✔️ Señalización por el tipo de servicio que prestan (escolar, turístico,
                                        trabajadores).</p>
                                </div>
                            </div>
                        </div>

                        <!-- Tracto / Carreta -->
                        <div class="card">
                            <div class="card-header" id="headingNine">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
                                        Tracto / Carreta
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseNine" class="collapse" aria-labelledby="headingNine"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>✔️ Tarjeta de Propiedad</p>
                                    <p>✔️ SOAT</p>
                                    <p>✔️ Certificado de su revisión técnica anterior (de ser el caso)</p>
                                    <p>✔️ Certificado GNV o GLP (de ser el caso)</p>
                                    <p>✔️ TUC (Tarjeta Única de Circulación)</p>
                                    <p>✔️ Resolución (en caso, transporte mercancía peligrosa)</p>
                                </div>
                            </div>
                        </div>

                        <!-- Moto -->
                        <div class="card">
                            <div class="card-header" id="headingEight">
                                <h5 class="mb-0">
                                    <button class="btn btn-link collapsed" data-toggle="collapse"
                                        data-target="#collapseEight" aria-expanded="false"
                                        aria-controls="collapseEight">
                                        Moto
                                    </button>
                                </h5>
                            </div>
                            <div id="collapseEight" class="collapse" aria-labelledby="headingEight"
                                data-parent="#accordion">
                                <div class="card-body">
                                    <p>✔️ Tarjeta de Propiedad</p>
                                    <p>✔️ SOAT</p>
                                    <p>✔️ Certificado de su revisión técnica anterior (de ser el caso)</p>
                                    <p>✔️ Certificado GNV o GLP (de ser el caso)</p>
                                    <a>En caso de ser L5 (mototaxi), también debe presentar:</a>
                                    <p>✔️ TUC (Tarjeta Única de Circulación)</p>
                                    <p>✔️ Resolución (en caso, transporte mercancía peligrosa)</p>
                                </div>
                            </div>
                        </div>




                    </div>
                </div>

            </div>
        </div>
    </div>




    <!-- Testimonial Start -->
    <div class="testimonial" id="test">
        <div class="container">
            <div class="section-header text-center">
                <p>Testimonios</p>
                <h2>Nuestros Clientes</h2>
            </div>
            <div class="owl-carousel testimonials-carousel">
                <div class="testimonial-item">
                    <img src="img/test1.jpg" alt="Image">
                    <div class="testimonial-text">
                        <h3>Juan Pérez</h3>
                        <p>
                            La inspección técnica de mi auto fue rápida y eficiente. El personal fue muy profesional y
                            ahora me siento seguro en la carretera. ¡Altamente recomendado!
                        </p>
                    </div>
                </div>
                <div class="testimonial-item">
                    <img src="img/test2.jpg" alt="Image">
                    <div class="testimonial-text">
                        <h3>Pedro Juarez</h3>
                        <p>
                            Excelente servicio y atención. La revisión de mi camioneta fue completa y me dieron todas
                            las recomendaciones necesarias para mantenerla en buen estado.
                        </p>
                    </div>
                </div>
                <div class="testimonial-item">
                    <img src="img/test3.jpg" alt="Image">
                    <div class="testimonial-text">
                        <h3>Carlos Rivera</h3>
                        <p>
                            Quedé muy satisfecho con la inspección de mi taxi. El proceso fue claro y me explicaron cada
                            detalle. Sin duda, seguiré usando sus servicios.
                        </p>
                    </div>
                </div>
                <div class="testimonial-item">
                    <img src="img/test4.jpg" alt="Image">
                    <div class="testimonial-text">
                        <h3>Luis Quispe</h3>
                        <p>
                            La revisión técnica de mi moto fue impecable. El equipo fue muy amable y me dio confianza
                            para circular con tranquilidad. ¡Gracias por el excelente servicio
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- Footer Start -->
    <div class="footer">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-3 col-md-6">
                    <div class="footer-contact">
                        <h2>Contacto</h2>
                        <p><i class="fa fa-map-marker-alt"></i>Mz. 04 lote.04 – Autopista Panamericana Norte – Variante
                            – Asociación Popular la Variante de Ancón – Distrito de Ancón – Provincia de Lima –
                            Departamento de Lima</p>
                        <p><i class="fa fa-phone-alt"></i>+51 926 105 991</p>
                        <p><i class="fa fa-envelope"></i>citvancon@gmail.com</p>
                        <div class="footer-social">
                            <a class="btn" href=""><i class="fab fa-twitter"></i></a>
                            <a class="btn" href="https://www.facebook.com/Citvancon/photos?locale=es_LA"><i class="fab fa-facebook-f"></i></a>
                            <a class="btn" href=""><i class="fab fa-instagram"></i></a>
                        </div>
                    </div>
                </div>
                <!--
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-link">
                            <h2>Popular Links</h2>
                            <a href="">About Us</a>
                            <a href="">Contact Us</a>
                            <a href="">Our Service</a>
                            <a href="">Service Points</a>
                            <a href="">Pricing Plan</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="footer-link">
                            <h2>Useful Links</h2>
                            <a href="">Terms of use</a>
                            <a href="">Privacy policy</a>
                            <a href="">Cookies</a>
                            <a href="">Help</a>
                            <a href="">FQAs</a>
                        </div>
                    </div>-->
                <div class="col-lg-3 col-md-6">
                    <div class="footer-newsletter">
                        <h2>Boletin informativo</h2>
                        <form>
                            <input class="form-control" placeholder="Nombres Completos">
                            <input class="form-control" placeholder="Email">
                            <button class="btn btn-custom">Enviar</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="">
                        <img src="img/logo.jpeg" height="80" width="250">
                    </div>
                </div>
            </div>
        </div>
        <div class="container copyright">
            <p>&copy; <a href="#"> CITVAncon Privacy Policy</a>, All Right Reserved. Designed By <a>CITVAncon</a></p>
        </div>
    </div>

    <!-- Back to top button
    <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>
    -->

    <!-- Icono flotante de WhatsApp -->
    <a class="whatsapp-float" href="https://wa.me/926105991" target="_blank" rel="noopener noreferrer">
        <i class="fab fa-whatsapp" aria-hidden="true"></i>
    </a>

    <!-- Pre Loader -->
    <div id="loader" class="show">
        <div class="loader"></div>
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <script src="lib/easing/easing.min.js"></script>
    <script src="lib/owlcarousel/owl.carousel.min.js"></script>
    <script src="lib/waypoints/waypoints.min.js"></script>
    <script src="lib/counterup/counterup.min.js"></script>

    <!-- Contact Javascript File -->
    <script src="mail/jqBootstrapValidation.min.js"></script>
    <script src="mail/contact.js"></script>

    <!-- Template Javascript -->
    <script src="js/main.js"></script>
</body>

</html>
